@import "./variables.scss";
.left {
    width:15em;
    color : $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .image {
        background-color: $background-color;
        border:1px dotted rgba(0,0,0,0.3);
        width: 15em;
        height: 15em;
        .addImage {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap:1em;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
            }
            #plus {
                color : rgba(0,0,0,0.4);
            }
        }
    }
    .description {
    
        textarea {
        margin-top: 2em;
        width:16.7em;
        outline-color: $primary-color;
        border:none;
        border-bottom: 2px solid $primary-color;
        resize: none; 
        background-color: $background-color;
        }
        textarea:focus {
        outline: none;
        }
    }
    button{
        margin: 0;
        height: 2em;
        margin-top: 2em;
        width: 10em;
        border : 2px solid $primary-color;
        background-color:$primary-color;
        font-size: medium;
        border-radius: 3em;
        cursor: pointer;
    }

}

.right {
    color : $primary-color;
    .title{
        margin-bottom: 2em;
        hr {
            border-color: $primary-color;
            border-style: solid; 
            border-width: 1px;
            width: 60em;
            opacity: 0.3;
            // margin-top: 3em;
        }
        input {
            outline: none;
            border: none;
            color: $primary-color;
            font-size: 2em;
            font-weight:bolder;
            margin:0;
            background-color: $background-color;
            padding-bottom: 1em;
            text-align: center;
            width: 100%;
        }
    }
    .types {
        display: flex;
        width: 100%;
        gap:1em;
    }
    .time-p {
        display: flex;
        gap:1em;
        align-items: center;
        .time-picker {
            width: 10em;
            height: 2em;
            background-color: $background-color;
        }
        .time-picker:focus,.time-picker:hover, .time-picker:active {
            border-color: $primary-color;
        }
    }
    .time-types {
        display: flex;
        width: 100%;
        gap:2em;
        align-items: center;
        margin-bottom: 3em;
        
    }
    .elements {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .ingredients {
            display: flex;
            flex-direction: column;
            .remove-ingredient {
                display: flex;
                flex-direction: row;
                gap:1em;
                #quantity {
                      
                    width: 20%;
                    margin-bottom: 2em;
                    background-color: $background-color;
                    height: 2em;
                
            }
            .newList {
                width: 25%;
                margin-bottom: 2em;
                background-color: $background-color;
              }
            }
        }
    }
    .addStep, .addIngredient {
        display: flex;
        flex-direction: row;
        gap:2em;
        align-items: center;
        margin-bottom: 2em;
    }
    .icons {
        margin-top: 0.4em;
        cursor: pointer;
    }
    .steps{
        width: 60%;
        .step {
            width: 100%;
            outline:none;
            border:none;
            border-bottom: 2px solid $primary-color;
            resize: none; 
            margin-bottom: 1em;
            margin-top:1em;
            background-color: $background-color;
        }
        .remove-step {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
@media(max-width:1300px)
{
    .right {
        .title {
            font-size: medium;
            hr {
                width: 100%;
                }
                
        }
       
        .time-types {
            flex-direction: column;
            width: 100%;
            gap:1em;
            button{
            font-size: 10px;
            }
        flex-wrap: wrap;
        .time-p {
            width: 30%;
            align-self: flex-start;
        }
        .types {
            flex-wrap: wrap;
           
        }
    
    }
        
        .elements {
            .ingredients{
                
                font-size: medium;
                align-content: center;
                .addIngredient {
                    font-size: medium;
                   
                }
            }
            .steps {
                
                font-size: medium;
            }
        }
        
    }
}

@media(max-width:1024px)
{
    .right {
        .title {
            font-size: smaller;
            hr {
                width: 100%;
                }
                
        }
       
        .time-types {
            flex-direction: column;
            width: 100%;
            gap:1em;
            button{
            font-size: 10px;
            }
        flex-wrap: wrap;
        .time-p {
            width: 30%;
            align-self: flex-start;
        }
        .types {
            flex-wrap: wrap;
           
        }
    
    }
        
        .elements {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .ingredients{
                width: 100%;
                font-size: smaller;
                align-content: center;
                .addIngredient {
                    font-size: smaller;
                  
                    
                }
            }
            .steps {
                width: 100%;
                font-size: smaller;
            }
        }
        
    }
}