@import "./variables.scss";
.chat {
    display: flex;
    flex-direction: column;
    gap:2em;
    margin: auto;
    width: 70%;
    align-items: center;
}
.sidebar {
   
    width:30%;
    background-color: $primary-color;
    position: absolute;
    height: 100%;
    left:0;
    top:0;
    position: fixed;
    color: rgba(0,0,0,0.5);
    .title {
        display: flex;
        justify-content: space-between;
        margin-left: 1em;
        margin-right: 1em;
        margin-top:1em;
        padding-bottom: 1em;
        border-bottom: 1px solid rgba(0,0,0,0.3);
        .icons {
            display: flex;
            gap:2em;
        }
    }

}
.display-sidebar {
    
   float:right;
   

}