@import "./variables.scss";
.chat {
    display: flex;
    flex-direction: column;
    gap:2em;
    margin: auto;
    width: 70%;
    align-items: center;
}
.sidebar {
   
    width:30%;
    background-color: $primary-color;
    position: absolute;
    height: 100%;
    left:0;
    top:0;
    position: fixed;

}
.display-sidebar {
    
   float:right;
   

}