@import "./variables.scss";
.collection {
   position: fixed;
   left: 40%;
   z-index: 3;
   top:10%;
   left:32%;
}
.collaborators {
   margin-bottom: 1em;
}
.collection, .collaborators {
   
   background-color: $background-color;
   .ant-card {
      background-color: $background-color;
      margin-bottom: 0.2em;
   }
  #add-col,#close {
   cursor: pointer;
  }


   .new-collection {
      input {
         margin-top: 1em;
         background-color: $background-color;
      }
      input:active,input:focus {
         border-color: $primary-color;
         outline: none;
      }
      input:hover {
         border-color: $primary-color;
      }
      button {
         width: 100%;
         height: 2.5em;
         cursor: pointer;
         border: none;
         background-color: $primary-color;
         border-radius: 4px;
         margin-top: 1em;
      }
   }
   .user {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }
   
}
.collections {
   display: flex;
   gap:3em;
   flex-wrap: wrap;
   .ant-card {
      background-color: $background-color;}
      .title-card {
         display: flex;
         justify-content: space-between;
         align-items: center;
         .remove {
            cursor: pointer;
         }
        }
}
@media(max-width:500px) {
   .collections {
      justify-content: center;
   }
   
}