@import "./variables.scss";
.collection {
   background-color: $background-color;
   position: absolute;
   left: 40%;
   z-index: 3;
   top:10%;
   left:32%;
   .ant-card {
      background-color: $background-color;
      margin-bottom: 0.2em;
   }
  #add-col {
   cursor: pointer;
  }

   .new-collection {
      input {
         margin-top: 1em;
         background-color: $background-color;
      }
      input:active,input:focus {
         border-color: $primary-color;
         outline: none;
      }
      input:hover {
         border-color: $primary-color;
      }
      button {
         width: 100%;
         height: 2.5em;
         cursor: pointer;
         border: none;
         background-color: $primary-color;
         border-radius: 4px;
         margin-top: 1em;
      }
   }
   
}
.collections {
   display: flex;
   gap:3em;
   flex-wrap: wrap;
   .ant-card {
      background-color: $background-color;}
      .title-card {
         display: flex;
         justify-content: space-between;
         align-items: center;
         .remove {
            cursor: pointer;
         }
        }
}