@import './variables.scss';
.feedback {
    display: flex;
    flex-direction: column;
    color : black;
    align-items: center;
    .feedback-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:0.2em;
        .icons {
            margin-top: 0.2em;
            cursor: pointer;
            z-index: 2;
        }
        .liked {
            color: red;
        }
        p {
            font-size: smaller;
        }
    }
    p {
        padding: 0;
        margin: 0;
    }
}