@import './variables.scss';
.options {
    display: flex;
    gap:1em;
    .user-recipes,.saved-recipes,.shopping-list {
        width:10em;
        height: 2em;
        border-radius: 3em;
        background-color: $background-color;
        display: flex;
        justify-content: center;
        button {
            border:none;
            background-color: $background-color;
            font-size: medium;
            cursor: pointer;
        }
    }
    .clicked{
        background-color: $primary-color;
        button {
            background-color: $primary-color;
        }
}}
@media(max-width:500px)
{
    .options{
        .user-recipes,.saved-recipes,.shopping-list {
            button {
                font-size: 10px;
                border-radius: 3em;
                
            }
        }
}
}
@media(max-width:300px)
{
    .options{
        .user-recipes,.saved-recipes,.shopping-list {
            button {
                font-size: 8px;
                border-radius: 3em;
                
            }
        }
}
}