@import "./variables.scss";
.recipes-view{
    color: $primary-color;
    .title {
        margin-bottom: 5em;
        hr {
            border-color: $primary-color;
            border-style: solid; 
            border-width: 1px;
            width: 60em;
            opacity: 0.3;
            margin-top: 3em;
        }
    }
    .no-recipes{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:1em;
        .icons {
            font-size: 5em;
            cursor: pointer;
            
    }}
.recipes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 3em; 
}}