

@import "./variables.scss";
.blur {
    opacity: 0.1;
    pointer-events: none; 
}
.recipes-view{
    color: $primary-color;
    width: 100%;
    .title {
        margin-bottom: 1em;
        hr {
            border-color: $primary-color;
            border-style: solid; 
            border-width: 1px;
            width: 90%;
            opacity: 0.3;
            margin-top: 3em;
        }
    }
    #new-recipe {
        border:none;
        display: flex;
        align-items: center;
        gap:1em;
        padding-left: 1em;
        padding-right: 1em;
        border:1px solid rgba(0,0,0,0.3);
        border-radius:3em;
        height: 2em;
        width:10%;
       
        button {
            border:none;
            width:100%;
            background-color: $background-color;
            cursor: pointer;
        }
        .icons {
            color:rgba(0,0,0,0.3);
            cursor: pointer;
        }
    }
    .no-recipes{
        margin-top: 5em;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:1em;
        .icons {
            font-size: 5em;
            cursor: pointer;
            
    }}
    .lists {
        display: flex;
        margin-right: 7em;
        justify-content: space-around;
    }
}
.recipes-grid {
    
    display: flex;
    width: 90%;
    gap:5em;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}