@import "./variables.scss";
.search-topic {
    position: relative;
    width: 50%;
    height: 100vh;
}
.initiate-topic {
    width: 8em;
    height: 2em;
    border-radius: 3em;
    cursor: pointer;
    background-color: $primary-color;
    color:$background-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    top:0.5em;
    right:2em;

}

.search-bar {
    box-sizing: border-box;
    width: 100%;
    height: 3em;
    border-radius: 3em;
    border: 1px solid rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    padding-left: 2em;
    gap : 1em;
    color : $primary-color;
    #input-search-bar {
        border:none;
        background-color: $background-color;
    }
   
}
.chat-box {

    width:50%;
    border: 1px solid rgba(0,0,0,0.3);
    color:$primary-color;
    display: flex;
    align-items: center;
    gap:4em;
    height: 2em;
    border-radius:3em;
    padding-left: 1em;
    cursor: pointer;
    .messages {
       display: flex;
       align-items: center;
       gap:0.5em;
    }
}
