@import "./variables.scss";
.search-topic {
    position: relative;
    width: 70%;
    height: 100%;
}
.initiate-topic {
    width: 8em;
    height: 2em;
    border-radius: 3em;
    cursor: pointer;
    background-color: $primary-color;
    color:$background-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    top:0.5em;
    right:2em;

    .add-thread {
        position: absolute;
        bottom: -3em;
        right:0em;
        width: 20em;
        height: 3em;
        input {
        height: 100%;
        width: 100%;
        border:none;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-color: $background-color;
        padding-left: 1em;
        // padding-bottom: 1em;
        margin-bottom: 2em;
    }
    input:focus {
        outline: none;
    }
    }
}

.search-bar {
    box-sizing: border-box;
    width: 100%;
    height: 3em;
    border-radius: 3em;
    border: 1px solid rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    padding-left: 2em;
    gap : 1em;
    color : $primary-color;
    #input-search-bar {
        border:none;
        background-color: $background-color;
    }
   
}
.chat-box {
    box-sizing: border-box;
    width:90%;
    border: 1px solid rgba(0,0,0,0.3);
    color:$primary-color;
    display: flex;
    align-items: center;
    gap:2em;
    height: 3em;
    border-radius:3em;
    padding-left: 1em;
    background-color: $background-color;
    font-size:smaller;
    cursor: pointer;
    .messages {
       display: flex;
       align-items: center;
       gap:0.5em;
    }
}
.thread {
    width: 70%;
    height: 10em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    background-color: $primary-color;
    align-items: center;
    gap:1em;
    .info {
        width: 90%;
        box-sizing: border-box;
        padding-left: 1em;
        display: flex;
        flex-direction: column;
        gap:1em;
        padding-top: 1em;
        color:rgba(0,0,0,0.3);
    }
}
