@import './variables.scss';



.user-profile{
    display: flex;
    flex-direction: column;
    gap:3em;
    .fixed-description {
       margin-left:1em;
       position:sticky;
       top: 2em;
       height: 100%;
    }
    .user-info {
        display: flex;
        flex-direction: row;
        gap: 11em;
    }
    #back {
        cursor: pointer;
        font-size: larger;
    }
   
}

@media(max-width:300px)
{.user-profile {
    
    
    .user-info {
        
        .user-info {
            
            }
    .fixed-description {
       
        .userDescription {
            h3 {
                font-size: smaller;
            }
        font-size: smaller;
            .statistics {
                font-size: smaller;
                gap:1em;
                margin-left: 0;
            }
        }
    }
}  
}}

@media(max-width:1200px)
{.user-profile {
    justify-content: center;
    
    .user-info {
        flex-direction: column;
        gap: 6em;
        .user-info {
            flex-direction: column;
            gap: 6em;
            }
    .fixed-description {
        top:0;
        position: relative;
        display: flex;
        justify-content: center;
    }
}  
}}
